/* PlayerModal.module.css */

.modalButton {
  cursor: pointer;
  font-size: 14px;  /* Tamaño de fuente más pequeño */
  padding: 8px;     /* Espaciado más pequeño */
  background-color: #333; /* Color de fondo invertido */
  color: #fff;      /* Color del texto invertido */
  border: none;
  border-radius: 4px;
  outline: none;
}
  
  .modalButton:hover {
    background-color: #555; /* Cambiar color de fondo al pasar el ratón */
  }
  